* {
    box-sizing: border-box;
    outline: none;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #223C61;
    margin: 0;
    background-color: #eff3f5;

}
p{
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0;
}

header{
    background: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.nav {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 12.5px;
    padding-right: 12.5px;
    position: relative;
}
.nav-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;    
}
.nav-brand-logo {
    width: 40%;
}
.nav-brand-logo img{
    width: 40%;
    min-width: 8rem;
}
.nav-top-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 12.5px;
    margin-right:1.5rem;
}

.search {
    display: none;
    align-items: center;
    border-radius: 50px;
    background: #eff3f5;
    border: none;
    padding:0.6rem;

}
.iconsearch {
    color: grey;
    margin-left: 10px;
    margin-right: 10px;
}
.search_field {
    font-size:0.75rem;
    margin-left: 10px;
    margin-right: 10px;
    background: transparent;
    border: none;
    outline: none;   
}

.notification {
    margin: 12px;
    position: relative;
    padding: 7px 7px;
}
.notification .mdi-bell-outline {
    font-size: 1.2rem;
}
.notification .badge {
    position: absolute;
    background-color: #FF0017;
    border-radius: 50%;
    color: white;
    font-size: 11px;
    font-weight: 600;
    /* Position the badge within the relatively positioned button */
    top: 5px;
    right: 0;
    width: 1rem;
    height: 1rem;
    text-align: center;
}

.account-details-dropdown{
    position: relative;
}
.account-details-dropdown::after{
    content: '\F140';
    position: absolute;
    top:12px;
    font: normal normal normal 0.8rem "Material Design Icons";
}

.face {
    width: 37px;
    height: 37px;
}
.circle-image {
    border-radius: 50%;
}

.nav-main-menu-container {
    width: 100%;
    margin-bottom: 1rem;
}
.nav-menu-list {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav-menu-item{
    text-align: left;
    padding: 0.8rem 0;
}
.nav-menu-item a{
    text-decoration: none;
    white-space: nowrap;
}
.icon-sm {
    font-size: 0.8rem;
}

.nav-menu-item-title {
    color: #223C61;
    font-size: 0.8rem;
    font-weight: 600;
}

.mdi.color-blue {
    color: #464de3;
}

.dropdown::after {
    content: '\F140';
    font: normal normal normal 0.8rem "Material Design Icons";
}
/* .active{
    background:linear-gradient(20deg, #464de4, #814eff);
    color: #fff !important;
} */
.nav-menu-item:hover{
    background:linear-gradient(20deg, #464de4, #814eff);
}
.nav-menu-item:hover a>span{
    color: #fff !important;
}

.mdi-menu{
    font-size: 1.5rem;
    padding:0.3rem;
    padding-left:1.5rem;
}
.toggle{
    position: absolute;
    right: 0;
    top: 0.6rem;
}
.toggle:hover ~ .nav-menu-list{
    display: contents;
}

@media only screen and (min-width: 768px){
    .toggle{
        display: none;
    }
    .nav-menu-list {
        display: contents;
        width: 100%;
    }
    .nav-menu-item{
        display: inline-block;
        width: 16%;
        text-align: center;
    }
    .search{
        display: block;
    }
}
