.main-wrapper {
    margin: 1.5rem 5%;
}

.row {
    margin-bottom: 25px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12.5px;
    margin-right: 12.5px;
    justify-content: center;
    align-items: center;
}
.card {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 1px solid #d5dcec;
    padding: 35px 25px;
    background-color: #fff;
}

.row1 .card {
    width: 50%;
}

.row2 .card-container,
.row4 .card-container {
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.row2 .card,
.row4 .card {
    width: 100%;
    margin-bottom: 25px;
    justify-content: space-between;
}

.card:last-child {
    margin-bottom: 0;
}

.graph-card {
    padding: 0;
}

.graph-header {
    width: 100%;
    text-align: left;
    padding: 35px 25px;
}

.graph-card h1 {
    margin: 0;
}

.graph-header-top {
    margin-bottom: 1.5rem;
}

.graph-header-bottom {
    padding-top: 1.5rem;
    border-top: 1px solid #d5dcec;
}

.row2 p,
.row5 p {
    font-weight: 400;
}

.graph-footer {
    padding: 0;
    overflow: auto !important;
    width: 100%;
}
#line-chart-container{
    padding:1rem 0;
}

.card-container.svg {
    margin: 0;
    width: 100%;
    justify-content: space-around;
}

.bar-chart-top {
    width: 100%;
    padding: 35px 25px 0px;
}

.row4 .card-updates {
    justify-content: flex-start;
    align-items: flex-start;
}

#bar-chart {
    margin: 0;
    height: 200px;
}

.bar-chart-bottom {
    padding: 35px 25px;
    width: 100%;
    border-top: 1px solid #d5dcec;

}

.text-gray {
    color: gray;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.large-count {
    font-size: 3rem;
    font-weight: 600;
}

.card-text p{
    text-align: center;
}

.card-text .card-count {
    font-weight: 600;
    font-size: 1.8rem;
}

.icon-lg {
    font-size: 2.5rem;
    /* margin-right: 1.5rem; */
}

h4 {
    font-size: 1.13rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.text-muted {
    color: #a8abad;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1rem;
}

.center {
    text-align: center;
}

.btn-primary {
    background-color: #464de4;
    border-color: #464de4;
    font-size: 0.8rem;
    color: #fff;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
    font-family: "Open Sans", sans-serif;
    border: none
}

.follow-card-item {
    padding-left: 12.5px;
    padding-right: 12.5px;
}

.border-top {
    margin-top: 1rem;
    border-top: 1px solid #d5dcec;
}

.bullet-list {
    list-style-type: none;
    position: relative;
    padding: 0 25px;
    margin: 0;
}

.bullet-list li {
    position: relative;
    padding-bottom: 1rem;
}

.bullet-list li::before {
    content: '\f025';
    position: absolute;
    font: normal normal normal 1.2rem "Material Design Icons";
    color: #464de3;
    left: -2rem;
    top: 0.8rem;
    z-index: 5;
}

.bullet-list::before {
    content: "";
    border: 1px solid #d5dcec;
    position: absolute;
    z-index: 2;
    top: 2rem;
    bottom: 0;
    left: 0.1rem;
}

.bullet-list h5 {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 6px 0;
}

.card-title {
    width: 100%;
}

.row5 .card {
    width: 100%;
    justify-content: space-between;
}

.tickets {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ticket-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d5dcec;
}

.ticket-card:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.ticket-content {
    width: 100%;
    align-self: flex-start;
}

.ticket-title {
    display: inline;
    margin: 0;
}

.res-value {
    margin-right: 2rem;
}

.ticket-header p {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hide-manage-time {
    display: none;
}


@media only screen and (min-width: 768px) {
    .row1 .card {
        width: 25%;
        flex-direction: row;
    }
    .row1 .card:nth-child(-n+3) {
        border-right: none;
    }
    .card-text p{
        text-align: left;
    }
    .icon-lg {
        margin-right: 1.5rem;
    }
    .row2 .card {
        width: 31%;
        margin-bottom: 0;
    }
    .row2 .card-container{
        flex-wrap: nowrap;
    }
    .graph-footer {
        height: 300px;
    }
    #line-chart-container{
        padding: 0;
    }
    .row4 .card {
        width: 48%;
        margin-bottom: 0;
    }
    .ticket-card {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .ticket-content {
        width: 80%;
        align-self: flex-start;
    }
    .hide-manage-time {
        display: contents;
    }
}
